doctype html

head
include Shared/css.jade

body
div.col-xs-6.col-sm-6.col-md-6.col-lg-6
    h1.titleBanner #{PageName}

div.seperator
    h1 The Hulk!
    img(src='#{HulkImage}')
    p  #{HulkDescription}
    h2 Stats
    p Comics: #{HulkComics}
    p Series: #{HulkSeries}
div.jumbotron


include Shared/scripts.jade
script(src='Project/Javascript/index.js')

script.
    var socket = io.connect('/');

    socket.on('newConnection', function(data){
        toastr.info('A new user has joined! ' + data.connectedUsers + ' users connected!');
    });

    $('#socketIOtest').on('click', function(){
        socket.emit('socketIOtest');
        console.log('clicked');
    });

    