doctype html

head
include Shared/css.jade

body
div.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            a.navbar-brand G.W.A.B Hack

div.container
    section.gridsterArea
        div.gridster
            ul(style="width: 960px; position: relative;")
                each item in Characters            
                    li(data-row="#{item.DataRow}" data-col="#{item.DataColumn}" data-sizex="1" data-sizey="1" class="gw-s" style="background-image:url(#{item.CharacterImage})" data-name="#{item.CharacterName}" data-description="#{item.ChatacterDescription}" data-comics="#{item.CharacterComics}" data-series="#{item.CharacterSeries}")

//Modal
div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title
          div.modal-body
            #name
            #description
            #comics
            #series
          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close

include Shared/scripts.jade
script(src='Project/Javascript/index.js')

script.
    var gridster;

    $(function(){

        gridster = $(".gridster > ul").gridster({
            widget_margins: [10, 10],
            widget_base_dimensions: [140, 140],
            min_cols: 4,
            resize: {
                enabled: false
            }
        }).data('gridster');

    });

script.
    $(document).on("dblclick", ".gw-s", function(){
        var name = $(this).data('name');
        var description = $(this).data('description');
        var comics = $(this).data('comics');
        var series = $(this).data('series');
        
        $("#myModelLabel").val( name );
        $(".modal-body #description").html( description );
        $(".modal-body #comics").html( comics );
        $(".modal-body #series").html( series );

        $('#myModal').modal('toggle');
    });